<% was_validated = bookmark.errors.any? %>

<%= form_with(model: bookmark, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% necklace_class = "form-control" %>
    <% necklace_was_invalid = bookmark.errors.include?(:necklace) %>

    <% if was_validated %>
      <% if necklace_was_invalid %>
        <% necklace_class << " is-invalid" %>
      <% else %>
        <% necklace_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :necklace_id %>
    <%= f.collection_select :necklace_id, Necklace.all, :id, :to_s, {}, class: "form-control" %>
    <% if necklace_was_invalid %>
      <% bookmark.errors.full_messages_for(:necklace).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
