<%= form_with(model: @necklace, local: true) do |f| %>

  <%= f.hidden_field :category_id, value: @category.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>

    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "Create necklace", class: "btn btn-block btn-outline-secondary" %>
<% end %>
